<%- model_class = Rezerwacja -%>
<div class="span12">
<div class="page-header">
  <blockquote><p><big>Edycja rezerwacji numer: <%= "#{params[:id]}/#{@rezerwacja.created_at.year}" %> </big></p></blockquote>
</div>
</div>
<%= render :partial => 'form' %>
