<%- model_class = Rezerwacja -%>
     


<div class="span12">
	
 <div class="page-header">
  <blockquote><p><big>Nowa rezerwacja</big></p></blockquote>
</div>

</div>

<%= render :partial => 'form' %>
