<%- model_class = Wycieczka -%>
<div class="span12">
<div class="page-header">
  <blockquote><p><big>Edytuj wycieczke numer: <%= params[:id] %>/<%= Wycieczka.find_by_id(params[:id]).created_at.year %></big></p></blockquote>
</div>
</div>
<%= render :partial => 'form' %>
